.frends{
    background: none;
    gap: 0;
    border-radius: 0;
}
.showcase_left{
    width: 100%;
    border-radius: 1%;
   background: #FCEED5;
  
}
.frend_left
{
background: #FFB775;
img{
    width: 100%;
   }
}